body {background: url(https://image.freepik.com/foto-gratis/textura-fondo-marmol-patron_1339-7567.jpg) ;}

h1 {
    
    color: blue;
    }
img {
    width: 400px;
    }
 
 #thirddiv {
     height: 500px;
     width: 600px;
     background-color: rgb(197, 165, 97);
     /* padding: 50px; */
     /* border: 10px solid rgb(0, 0, 0); */
     margin: 50px;
     margin: 0 auto;
     

 }

 #spanId { 
     font-size: 18px ;
     margin: 50px;
 }
/* div {
  
    margin: 0 auto;
    width: 50%;
    
} */
.divclass {
    background: gray;
}